*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
      .colList{
        height:300px;
        padding:25px;
        dispay: flex;
  /*      flex-flow: column wrap;*/
        border:1px solid black;
      }

      ul li{
        display: flex;
 /*       flex-flow: row wrap;*/
        justify-content: space-between;
      }